<a href="https://colab.research.google.com/github/glaucio1973/mvp_sprint1/blob/main/Aula_de_Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 4) Importando dados de um arquivo .csv no Google Drive

# imports necessários
import pandas as pd
from google.colab import drive

# monta o drive
drive.mount("/content/drive") # neste momento irá aparecer um link do seu GoogleDrive para você clicar e copiar um código de acesso OU apenas um popup de autorização

Mounted at /content/drive

In [2]:
# carga do dataset através de um arquivo
enem_br = pd.read_csv("drive/MyDrive/datasets/enem_2021.csv",delimiter=';',encoding='ISO-8859-1') # este arquivo deve estar dentro da pasta "datasets" do seu GoogleDrive

# verifica o tipo de iris
print(type(enem_br))

# exibe as 5 primeiras linhas
enem_br.head()
display(enem_br)

<class 'pandas.core.frame.DataFrame'>

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,210053249138,2021,7,F,1,3,1,1,0,1,...,A,A,A,B,A,A,B,A,A,B
3389828,210053776013,2021,7,F,1,1,1,1,5,1,...,B,A,B,C,A,A,E,B,B,B
3389829,210052441508,2021,13,F,1,3,1,1,15,1,...,B,A,A,A,A,A,B,A,B,B
3389830,210051139675,2021,7,F,1,1,1,1,4,1,...,B,A,B,B,A,B,E,A,C,B
3389831,210052410399,2021,12,F,2,3,1,1,15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
enem_br.shape
pd.set_option('display.max_columns', None)
#enem_br.info()
tabela = enem_br.drop(enem_br.columns[[35,36,37,38,40,41,42,43,51,52,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,70,72,73,74,75]], axis=1)
display(tabela)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,NO_MUNICIPIO_ESC,CO_UF_ESC,SG_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005,Q021
0,210053865474,2021,5,F,1,1,1,1,3,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3144805,Nova Lima,31,MG,0,1,1,0,NaN,881.0,892.0,NaN,NaN,574.6,472.6,NaN,1,1.0,140.0,120.0,120.0,180.0,200.0,760.0,3.0,A
1,210052384164,2021,12,M,1,1,1,1,11,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2704302,Maceió,27,AL,1,1,1,1,912.0,882.0,891.0,901.0,505.9,551.8,498.3,461.5,1,1.0,120.0,120.0,120.0,120.0,80.0,560.0,3.0,A
2,210052589243,2021,13,F,3,1,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3515707,Ferraz de Vasconcelos,35,SP,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,A
3,210052128335,2021,3,M,1,3,1,2,0,2,1.0,0,2304202.0,Crato,23.0,CE,2.0,1.0,1.0,2304202,Crato,23,CE,1,1,1,1,911.0,880.0,890.0,902.0,580.7,678.9,638.9,659.5,0,1.0,120.0,180.0,120.0,200.0,160.0,780.0,6.0,A
4,210051353021,2021,2,F,1,3,1,2,0,2,1.0,0,2311603.0,Redenção,23.0,CE,2.0,1.0,1.0,2300150,Acarape,23,CE,1,1,1,1,912.0,882.0,891.0,901.0,497.7,532.4,457.6,582.6,1,1.0,120.0,140.0,160.0,180.0,180.0,780.0,4.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,210053249138,2021,7,F,1,3,1,1,0,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5208707,Goiânia,52,GO,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,A
3389828,210053776013,2021,7,F,1,1,1,1,5,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4113700,Londrina,41,PR,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,A
3389829,210052441508,2021,13,F,1,3,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3304557,Rio de Janeiro,33,RJ,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,A
3389830,210051139675,2021,7,F,1,1,1,1,4,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3152501,Pouso Alegre,31,MG,1,1,1,1,1048.0,1018.0,1027.0,1037.0,563.7,646.0,550.7,706.4,0,1.0,120.0,120.0,120.0,140.0,160.0,660.0,4.0,B
3389831,210052410399,2021,12,F,2,3,1,1,15,1,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2401453,Baraúna,24,RN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Excluindo os alunos que faltaram a prova
tabela = tabela.drop(tabela[tabela['TP_PRESENCA_CN'] == 0].index)
tabela = tabela.drop(tabela[tabela['TP_PRESENCA_CH'] == 0].index)
tabela = tabela.drop(tabela[tabela['TP_PRESENCA_LC'] == 0].index)
tabela = tabela.drop(tabela[tabela['TP_PRESENCA_MT'] == 0].index)
tabela.shape
tabela.describe()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO,CO_MUNICIPIO_ESC,CO_UF_ESC,TP_DEPENDENCIA_ADM_ESC,TP_LOCALIZACAO_ESC,TP_SIT_FUNC_ESC,CO_MUNICIPIO_PROVA,CO_UF_PROVA,TP_PRESENCA_CN,TP_PRESENCA_CH,TP_PRESENCA_LC,TP_PRESENCA_MT,CO_PROVA_CN,CO_PROVA_CH,CO_PROVA_LC,CO_PROVA_MT,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,2.240046e+06,2240046.0,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,829715.000000,2.240046e+06,6.029970e+05,602997.000000,602997.000000,602997.000000,602997.000000,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.240046e+06,2.238615e+06,2.239528e+06,2.239528e+06,2.238615e+06,2.238615e+06,2.239528e+06,2.239528e+06,2.238615e+06,2.240046e+06,2.239528e+06,2.239528e+06,2.239528e+06,2.239528e+06,2.239528e+06,2.239528e+06,2.239528e+06,2.240045e+06
mean,2.100527e+11,2021.0,4.501351e+00,1.032948e+00,1.985505e+00,1.026741e+00,1.715718e+00,2.004511e+00,1.458750e+00,1.004975,1.641806e-01,3.209942e+06,31.946776,2.591580,1.030652,1.016852,3.115419e+06,3.100553e+01,1.000639e+00,1.000231e+00,1.000231e+00,1.000639e+00,9.160422e+02,8.863292e+02,8.962375e+02,9.061336e+02,4.918980e+02,5.231687e+02,5.048665e+02,5.351951e+02,4.291037e-01,1.112805e+00,1.206866e+02,1.399446e+02,1.168864e+02,1.299155e+02,1.150755e+02,6.225087e+02,3.778042e+00
std,9.969264e+05,0.0,3.537368e+00,3.578061e-01,1.022835e+00,2.070350e-01,7.411417e-01,3.795058e+00,6.391790e-01,0.070359,3.704394e-01,9.938210e+05,9.915096,1.014551,0.172373,0.205871,9.878806e+05,9.851175e+00,2.526694e-02,1.520500e-02,1.520500e-02,2.526694e-02,2.583980e+01,2.695068e+01,2.657095e+01,2.618904e+01,8.050329e+01,9.438743e+01,7.809648e+01,1.105814e+02,4.949483e-01,7.176103e-01,3.243981e+01,4.429415e+01,3.510605e+01,3.745655e+01,5.923593e+01,1.839801e+02,1.306189e+00
min,2.100510e+11,2021.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000,0.000000e+00,1.100015e+06,11.000000,1.000000,1.000000,1.000000,1.100015e+06,1.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.090000e+02,8.790000e+02,8.890000e+02,8.990000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.100519e+11,2021.0,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000,0.000000e+00,2.503308e+06,25.000000,2.000000,1.000000,1.000000,2.408102e+06,2.400000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.100000e+02,8.800000e+02,8.900000e+02,9.000000e+02,4.311000e+02,4.489000e+02,4.501000e+02,4.448000e+02,0.000000e+00,1.000000e+00,1.000000e+02,1.200000e+02,1.000000e+02,1.200000e+02,8.000000e+01,5.200000e+02,3.000000e+00
50%,2.100527e+11,2021.0,3.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,1.000000,0.000000e+00,3.204906e+06,32.000000,2.000000,1.000000,1.000000,3.127701e+06,3.100000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.110000e+02,8.810000e+02,8.910000e+02,9.010000e+02,4.821000e+02,5.256000e+02,5.082000e+02,5.155000e+02,0.000000e+00,1.000000e+00,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,6.200000e+02,4.000000e+00
75%,2.100536e+11,2021.0,5.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000,0.000000e+00,3.550308e+06,35.000000,4.000000,1.000000,1.000000,3.550308e+06,3.500000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,9.120000e+02,8.820000e+02,8.920000e+02,9.020000e+02,5.459000e+02,5.919000e+02,5.607000e+02,6.140000e+02,1.000000e+00,1.000000e+00,1.400000e+02,1.800000e+02,1.400000e+02,1.600000e+02,1.600000e+02,7.400000e+02,4.000000e+00
max,2.100545e+11,2021.0,2.000000e+01,4.000000e+00,6.000000e+00,4.000000e+00,4.000000e+00,1.500000e+01,3.000000e+00,2.000000,1.000000e+00,5.300108e+06,53.000000,4.000000,2.000000,4.000000,5.300108e+06,5.300000e+01,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.048000e+03,1.018000e+03,1.028000e+03,1.038000e+03,8.671000e+02,8.469000e+02,8.261000e+02,9.531000e+02,1.000000e+00,9.000000e+00,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,1.000000e+03,2.000000e+01